form.karma-rate-comment div.form-item {
  display: inline;
}

form.karma-rate-comment div.form-item br {
  display: none;
}

form.karma-rate-comment input.form-submit {
  margin-bottom: 0;
}

form.karma-rate-comment span.throbber {
  background: url(throbber.gif) no-repeat 0 -20px;
  height: 15px;
  padding-left: 15px; /* inline elements don't have width, but this works */
}

html.js form.karma-rate-comment input.form-submit {
  display: none;
}

ul.karma-stars {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 68px;
  height: 16px;
  background: url(stars.png) left center;
}

ul.karma-stars.stars-3 {
  width: 51px;
}

ul.karma-stars.stars-4 {
  width: 68px;
}

ul.karma-stars.stars-5 {
  width: 85px;
}

ul.karma-stars li {
  padding: 0;
  margin: 0;
  /*\*/
  float: left;
  /* */
} 

ul.karma-stars li a {
  display: block;
  width: 17px;
  height: 16px;
  text-decoration: none;
  z-index: 20;
  position: absolute;
  padding: 0px;
} 

ul.karma-stars li a:hover {
  background: url(stars.png) left bottom;
  z-index: 2;
  left: 0px;
}

ul.karma-stars a.rating-1 { left:  0px; }
ul.karma-stars a.rating-2 { left: 17px; }
ul.karma-stars a.rating-3 { left: 34px; }
ul.karma-stars a.rating-4 { left: 51px; }
ul.karma-stars a.rating-5 { left: 68px; }

ul.karma-stars a.rating-1:hover { width: 17px; }
ul.karma-stars a.rating-2:hover { width: 34px; }
ul.karma-stars a.rating-3:hover { width: 51px; }
ul.karma-stars a.rating-4:hover { width: 68px; }
ul.karma-stars a.rating-5:hover { width: 85px; }

ul.karma-stars li.current-rating {
  background: url(stars.png) left top;
  position: absolute;
  height: 16px;
  display: block;
  z-index: 1;
}

a.karma-stars-zero {
  background: url(stars-zero.png) left center;
  width: 17px;
  height: 16px;
  display: block;
}

a.karma-stars-zero:hover {
  background: url(stars-zero.png) left bottom;
}

a.karma-stars-zero-selected {
  background: url(stars-zero.png) left top;
}

a.karma-not-rated {
  color: #b3b3b3;
}

a.karma-not-rated:hover {
  color: #000000;
  text-decoration: none;
}

a.karma-not-rated-selected {
  color: #ff0000;
}

ul.karma-user-is-trusted {
  margin-left: 17px;
  margin-top: -16px;
}

div.karma-stars {
  height: 16px;
  background: url(stars.png) left center;
}

div.karma-stars.stars-3 {
  width: 51px;
}

div.karma-stars.stars-4 {
  width: 68px;
}

div.karma-stars.stars-5 {
  width: 85px;
}

div.karma-stars span {
  height: 16px;
  background: url(stars.png) left top;
  display: block;
}

html.js select.has-stars {
  display: none;
}
